<p>stations works!</p>

<div class="row mt-3">
    <div class="col-md-4">
        <div class="view overlay zoom">
          <img
            src="https://cdn.onlineradiobox.com/img/l/7/857.v8.png"
            class="img-fluid img-thumbnail" alt="zoom"/>
          <div class="mask flex-center waves-effect waves-light"></div>
        </div>
      </div>
      <div class="col-md-8">
          <h3 class="h3-responsive text-center">
              <!-- {{selectedStation.name}} -->
              Munghana Lonene
          </h3>
          <br />
          
      </div>
</div>