<div class="container-fluid">
  <div class="cards row row-cols-1 row-cols-sm-2">
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.onlineradiobox.com/img/l/7/857.v8.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="station-name card-title">Station Name</h5>
          <button type="button" class="play-btn btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-play-btn" viewBox="0 0 16 16">
              <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
            </svg>
            PLAY
          </button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.onlineradiobox.com/img/l/7/857.v8.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Station Name</h5>
          <button type="button" class="play-btn btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-play-btn" viewBox="0 0 16 16">
              <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
            </svg>
            PLAY
          </button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.onlineradiobox.com/img/l/7/857.v8.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Station Name</h5>
          <button type="button" class="play-btn btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-play-btn" viewBox="0 0 16 16">
              <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
            </svg>
            PLAY
          </button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://cdn.onlineradiobox.com/img/l/7/857.v8.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Station Name</h5>
          <button type="button" class="play-btn btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-play-btn" viewBox="0 0 16 16">
              <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
            </svg>
            PLAY
          </button>
        </div>
      </div>
    </div>
  </div>
</div>